{% extends "base.html" %}
{% load static %}
{% block contentblock %}
{% load crispy_forms_tags %}


<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Update Purchase</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method = 'POST'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.reference_no|as_crispy_field }}
                                </div>
                            </div>  
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    {{ form.purchase_date|as_crispy_field }}
                                </div>
                            </div>    
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.supplier|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.discount|as_crispy_field }}
                                    </select>
                                </div>
                            </div> 


                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.purchase_type|as_crispy_field }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.shipping|as_crispy_field }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.order_note|as_crispy_field }}
                                </div>
                            </div>
                        
                        </div>                            
                        <button type="submit" class="btn btn-primary mr-2">Update Purchase</button>
                        <a class="btn btn-danger" href="{% url 'PurchaseApp:purchase-list' %}">Cancel</a>
                    </form>
                </div>
            </div>


        </div>

    </div>
    <!-- Page end  -->

</div>





{% endblock contentblock %}
