
{% extends "base.html" %}
{% load static %}
{% block contentblock %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9">

                <div class="card">
                    <div class="card-header">
                        <h4>Delete {{ sales.Customer }}</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method='POST'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Are you sure to delete {{ sales.Customer }}?</p>
                                </div>
                            </div>
        
                            <div class="btn-group">
                                <a href="{% url 'SellApp:sale-list' %}" class="btn btn-primary">Back</a>
                                <button type='submit' class="btn btn-danger">Delete</button>
                            </div>
                            
                        </form>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock contentblock %}
