{% extends "base.html" %}
{% load static %}
{% block contentblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Customer List</h4>
                    
                </div>
                <a href="{% url 'CustomersApp:customer-create' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Customer</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
            <table class="data-table table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">
                        <th>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox1">
                                <label for="checkbox1" class="mb-0"></label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Country</th>
                        <!-- <th>Order</th>
                        <th>Status</th>
                        <th>Last Order</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">

                    {% for customer in customers %}
                      
                    
                    <tr>
                        <td>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                <label for="checkbox2" class="mb-0"></label>
                            </div>
                        </td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.country }}</td>
                        <!-- <td>2</td> -->
                        <!-- <td><div class="badge badge-warning">Pending</div></td> -->
                        <!-- <td>1</td> -->
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                    href="{{ customer.get_absolute_url }}"><i class="ri-eye-line mr-0"></i></a>
                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                    href="{{ customer.get_update_url }}"><i class="ri-pencil-line mr-0"></i></a>
                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                    href="{{ customer.get_delete_url }}"><i class="ri-delete-bin-line mr-0"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>

{% endblock contentblock %}