{% extends "base.html" %}
{% load static %}
{% block contentblock %}
{% load crispy_forms_tags %}

<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Add Customer</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method='POST'>
                        {% csrf_token %}
                        <div class="row"> 
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                            </div>    
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.phone_number|as_crispy_field }}
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.country|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.address|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.city|as_crispy_field }}
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.state|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.coustomer_group|as_crispy_field }}
                                </div>
                            </div>
                        </div>                            
                        <button type="submit" class="btn btn-primary mr-2">Add Customer</button>
                        <button type="reset" >Reset</button>
                        <a href="#" class="btn btn-danger"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>


{% endblock contentblock %}
