{% extends "base.html" %}
{% load static %}
{% block contentblock %}
{% load crispy_forms_tags %}


<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Add Supplier</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method='POST'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.supplier_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.phone_number|as_crispy_field }}

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.address|as_crispy_field }}

                                </div>
                            </div>

                        
                            <div class="col-md-6">
                                {{ form.city|as_crispy_field }}

                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.country|as_crispy_field }}

                                </div>
                            </div>

                    <button type="submit" class="btn btn-primary mr-2">Add Supplier</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>

            
                
            </div>
            </form>


        </div>
    </div>
</div>
</div>
<!-- Page end  -->
</div>
{% endblock contentblock %}