{% extends "base.html" %}
{% load static %}
{% block contentblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-block p-card">
                <div class="">
                    <div class="profile-card rounded">
                            <h3 class="font-600 text-white text-center mb-0">{{ suppliers.supplier_name }}</h3>
                            <h5 class="text-white text-center">Phone Number: {{ suppliers.phone_number }}</h5>
                            <h5 class="text-white text-center">Address: {{ suppliers.address }}</h5>
                            <h5 class="text-white text-center">City: {{ suppliers.city }}</h5>
                            <h5 class="text-white text-center">Country: {{ suppliers.country }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-block mb-3">
                <div class="card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title mb-0">Suppliers Details</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{ suppliers.address }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contentblock %}